/* // delete the following line if no text is used */
/* // edit the line if you wanna use other fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* // use only the available space inside the 400x400 frame */
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(226, 124, 124);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.first {
  z-index: 0;
  animation: firstIn 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.second {
  z-index: 1;
  animation: secondIn 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.third {
  z-index: 2;
  animation: thirdIn 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@keyframes firstIn {
  0%,
  10% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes secondIn {
  0%,
  40% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes thirdIn {
  0%,
  70% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.7);
  }
}
